<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>药品信息管理系统</title>
<script type="text/javascript" src="__PUBLIC__/lib/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/wukong-ui.css">
</head>

<body class="logonBody">
	<div class="logon">
        <form action="__APP__/Home/Index/userLogon" method="POST">
    	<ul>
        	<li><input type="text" name="account" placeholder="请输入账户名"/></li>
            <li><input type="password" name="password" placeholder="请输入登录密码"/></li>
        </ul>	
        <div class="logonTip">
        	{$info}
        </div>
        <input type="submit" class="logonSubmitBtn" value="登录"/>
    </form>
    </div>
</body>
</html>
